<div>
    <h1>Review</h1>

    <h2>Basic Info</h2>

    <b>First Name:</b> {{registrationData.basicInfo.firstName}} <br>
    <b>Last Name:</b> {{registrationData.basicInfo.lastName}} <br>
    <b>Email:</b> {{registrationData.basicInfo.email}} <br>
    <b>Birth Date:</b> {{registrationData.basicInfo.birthDate}} <br> 

    <h2>Address</h2>

    <b>Street:</b> {{registrationData.address.street}} <br>
    <b>City:</b> {{registrationData.address.city}} <br>
    <b>State:</b> {{registrationData.address.state}} <br>
    <b>Zip Code:</b> {{registrationData.address.zipCode}}
</div>