<h1>Basic Info</h1>

<div formGroupName="basic-info">
    <h3>Address</h3>
  
    <label>
      First Name:
      <input type="text" formControlName="firstName">
    </label>
  
    <label>
      Last Name:
      <input type="text" formControlName="lastName">
    </label>
    
    <label>
      Email:
      <input type="text" formControlName="email">
    </label>
  
    <label>
      Birth Date:
      <input type="text" formControlName="birthDate">
    </label>

    {{basicInfo.value | json}}
  </div>