<form [formGroup]="basicInfo"  (ngSubmit)="submitBasicInfo()">
    <h2>Basic Info</h2>
  
    <label>
      First Name:
      <input type="text" formControlName="firstName">
    </label>
  
    <label>
      Last Name:
      <input type="text" formControlName="lastName">
    </label>
    
    <label>
      Email:
      <input type="text" formControlName="email">
    </label>
  
    <label>
      Birth Date:
      <input type="text" formControlName="birthDate">
    </label>

    <button type="submit" >Next</button>
  </form>